.card {
  max-width: 400px;
  margin: 16px;
  padding: 16px;
  border: 2px solid #ccc;
  background-color: #FF0000;
  border-radius: 8px;
  cursor: pointer;

}

.card-img {
  width: 150px; 
  margin-right: 12px;
  border-radius: 8px;
}

.card-content {
  flex-grow: 1;
}
.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
  text-align: center;
}
.card-description.hidden {
  text-align: center;
}
.details-button {
  display: Details;
}
.hotpink-bg{
background:hotpink;
}
.wrapper{}
.highlighted{
background-color: hotpink;
}
@media screen and (max-width: 790px) {
  .details-button {
      display: none;
  }
}
  .card-img {
      width: 100%;
      height: auto;
  }
